body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  background: #212529;
  color: #ced4da;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 2rem;
  }
}

h1, h2 {
  margin-top: 0;
}

p {
  max-width: 60ch;
}

a {
  color: #f06595;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: #f783ac;
}

output {
  font-weight: 700;
}

section {
  padding: 2rem;
}

#grid {
  padding: 1rem;
  background: #2B3035;
  border-radius: 1rem;
}

#abjad {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  font-weight: semibold;
  color: #adb5bd;
  font-size: 24px;
}

#abjad .glyph {
  padding-bottom: 1rem;
}

#abjad .glyph .ipa {
  color: #ced4da;
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
}

#abjad .glyph .meaning {
  color: #868e96;
  font-style: italic;
}

#glyphs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 100%;
  gap: 1rem;
}


#abjad>.glyph,
#glyphs>.glyph {
  position: relative;
  background: #262A2F;
  transition: background-color 200ms ease-in-out;
  border-radius: 0.365rem;
}

#glyphs>.glyph:hover {
  background: #2B3035;
}

#glyphs>.glyph>.id {
  position: absolute;
  background: #f8f9fa20;
  top: 0;
  left: 0;
  padding: 0.25rem 1ch;
  display: grid;  
  justify-content: center;
  align-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 0.125rem;
  border-top-left-radius: 0.365rem;
}

#glyphs>.glyph:hover>.id {
  opacity: 1;
}
